<!DOCTYPE html>
<html>

<head>
  <title>Hello Friend!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <div class="container">
    <form action="/jobs" method="post">
      <label for="title">Add a Job Title</label>
      <input id="title" name="title" type="text">
      <label for="description">Add a description</label>
      <input id="description" name="description" type="text">
      <label for="contact">Add your contact info</label>
      <input id="contact" name="contact" type="text">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>

